name: "Linux Build"

on: [push]

jobs:
  linux:
    name: '${{ matrix.os }}: ${{ matrix.compiler.vendor }}'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        compiler:
          - { vendor: gnu,  CC: gcc,   AR: ar }
          - { vendor: llvm, CC: clang, AR: llvm-ar }

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 1

    - name: apt-get install packages
      run: sudo apt-get update -qq &&
           sudo apt-get install --no-install-recommends -y
               bison
               build-essential
               check
               clang
               flex
               git
               gperf
               llvm
               pkg-config
               meson
               ninja-build
               python3

    - name: Configure Meson
      env:
        CC: ${{ matrix.compiler.CC }}
        AR: ${{ matrix.compiler.AR }}
      run: meson setup build

    - name: Build Library
      run: meson compile -C build